  @font-face {
    font-family: "Barlow-Light";
    font-style: normal;
    font-weight: lighter;
    src: url('@/assets/fonts/Barlow-Light.ttf');
  }
  
  @font-face {
    font-family: "Barlow-Regular";
    font-style: normal;
    font-weight: 300;
    src: url('@/assets/fonts/Barlow-Regular.ttf');
  }
  
  @font-face {
    font-family: "Barlow-Medium";
    font-style: normal;
    font-weight: 500;
    src: url('@/assets/fonts/Barlow-Medium.ttf');
  }
  
  @font-face {
    font-family: "Barlow-SemiBold";
    font-style: normal;
    font-weight: 600;
    src: url('@/assets/fonts/Barlow-SemiBold.ttf');
  }

  @font-face {
    font-family: "Barlow-Bold";
    font-style: normal;
    font-weight: 700;
    src: url('@/assets/fonts/Barlow-Bold.ttf');
  }
