$color-primary: #281A4C;
$color-primary-md: #3B32A3;
$color-primary-light: #C9C5D2;
$color-secondary: #F39109;
$color-positive: #42B88B;
$color-negative: #f50537;
$color-disabled: #DBE2EB;
$color-black: #000000;
$color-white: #ffff;
$color-gray: #A0A7B1;
$color-md-gray: #DBE2EB;
$color-light-gray: #F0F3F7;
$color-strong-gray: #4C5356;
$color-strong-blue: #0061CE;
$color-neutral-yellow: #F39109;
$color-breadcrumbs-active: #281A4C;

$brand-font: 'Barlow-Regular';

$tablet: 769px;
$desktop: 960px;
$widescreen: 1200px;
$fullhd: 1430px;
